<div ng-init="vm = leaderboard">

    <table class="LeaderBoard">
        <tbody>
            <tr class="PlayerStats" ng-repeat="player in vm.players | orderBy:'-rating' track by player.objectId">
                <td class="PlayerStats__rank">
                    {{$index + 1 | rank}}
                    <small>rank</small>
                </td>
                <td class="PlayerStats__name">
                    {{player.name}}
                    <small>bodyspace name</small>
                </td>
                <td class="PlayerStats__stat PlayerStats__stat--first">
                    {{ player.rating }}
                    <small>rating</small>
                </td>
                <td class="PlayerStats__stat">
                    {{player.games}}
                    <small>games</small>
                </td>
                <td class="PlayerStats__stat">
                    {{player.wins}}
                    <small>win</small>
                </td>
                <td class="PlayerStats__stat">
                    {{player.losses}}
                    <small>loss</small>
                </td>
                <td class="PlayerStats__stat">
                    {{player.winPercentage | ratio}}
                    <small>ratio</small>
                </td>
                <td class="PlayerStats__stat">
                    {{player.totalPoints | number}}
                    <small>points</small>
                </td>
                <td class="PlayerStats__stat">
                    {{player.pointsPerGame | number: 2}}
                    <small>ppg</small>
                </td>
                <td class="PlayerStats__stat PlayerStats__stat--last">
                    {{player.opponentPointsPerGame | number: 2}}
                    <small>appg</small>
                </td>
            </tr>
        </tbody>
    </table>

</div>
