<div ng-init="vm = leaderboard">

    <table class="LeaderBoard">
        <tbody>
            <tr class="PlayerStats" ng-repeat="player in vm.players track by player.objectId">
                <td class="PlayerStats__rank">
                    {{$index + 1 | rank}}
                    <small>rank</small>
                </td>
                <td class="PlayerStats__name">
                    {{player.name}}
                    <small>bodyspace name</small>
                </td>
                <td class="PlayerStats__stats">

                    <ul>
                        <li class="PlayerStats__stat PlayerStats__stat--first">
                            {{player.games}}
                            <small>games</small>
                        </li>
                        <li class="PlayerStats__stat">
                            {{player.wins}}
                            <small>win</small>
                        </li>
                        <li class="PlayerStats__stat">
                            {{player.losses}}
                            <small>loss</small>
                        </li>
                        <li class="PlayerStats__stat">
                            {{player.winPercentage | ratio}}
                            <small>ratio</small>
                        </li>
                        <li class="PlayerStats__stat">
                            {{player.totalPoints | number}}
                            <small>points</small>
                        </li>
                        <li class="PlayerStats__stat">
                            {{player.pointsPerGame | number: 2}}
                            <small>ppg</small>
                        </li>
                        <li class="PlayerStats__stat PlayerStats__stat--last">
                            {{player.opponentPointsPerGame | number: 2}}
                            <small>appg</small>
                        </li>
                    </ul>

                </td>
            </tr>
        </tbody>
    </table>

</div>
