@import "../vars";

.PlayerStats {
    padding: 1em;
    font: 800 1.33em/1.5 "proxima-nova";
    text-transform: uppercase;

    &__rank,
    &__name,
    &__stat {
        padding: 1em;
        border: 1px solid @border-color;

        small {
            font-size: 0.66em;
            font-weight: 600;
            color: @text-gray;
            display: block;
        }
    }

    &__rank {
        width: 1%;
        border-left: none;
    }

    &__stats {
        border-right: none;

        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            .clearfix;
        }
    }

    &__stat {
        border-width: 1px 0;
        padding-left: 0.375em;
        padding-right: 0.375em;

        &--first {
            padding-left: 1em;
        }

        &:last-child {
            padding-right: 1em;
            border-right: 0;
        }

    }
}

@media screen and @MQ-jumbotron {

    .Viewport {
        overflow: hidden;
    }

    .LeaderBoard {
        width: 50%;
        float: left;

        &:first-of-type {
            border-right: 1px solid @border-color;
        }
    }

    .PlayerStats {

        &__rank,
        &__name,
        &__stat {
            height: 9.99vh;
            padding-top: 0;
            padding-bottom: 0;
        }

    }

}
