@import "../vars";

.PlayerStats {
    padding: 1em;
    font: 800 1.5em/1.5 "proxima-nova";
    text-transform: uppercase;

    &__rank,
    &__name,
    &__stat {
        padding: 1em;
        border: 1px solid @border-color;

        small {
            font-size: 0.66em;
            font-weight: 600;
            color: @text-gray;
            display: block;
        }
    }

    &__rank {
        width: 1%;
        border-left: none;
    }

    &__name {
        width: 38%;
        max-width: 100px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &__stat {
        border-width: 1px 0;
        padding-left: 0.375em;
        padding-right: 0.375em;

        &--first {
            padding-left: 1em;
        }

        &--last {
            width: 1%;
            padding-right: 1em;
        }

    }
}
