<header class="Season" ng-controller="SeasonController as vm">

    <a href="#/" class="Season__brand-wrapper">
        <img class="Season__brand" src="images/logo.png">
    </a>

    <div class="Season__league">
        <div>{{vm.season}}</div>
        <small>current season</small>
    </div>

    <div class="Season__points">
        <div>{{vm.points | number}}</div>
        <small>total points</small>
    </div><!--

 --><div class="Season__games">
        <div>{{vm.games || '...'}}</div>
        <small>total games</small>
    </div>

    <div ng-if="vm.lastGame" class="Season__last-game">
        <h1>Last Game</h1>
        <div class="Season__last-game__player" ng-class="{'Season__last-game__player--winner': vm.lastGame.player1.streak > 0}">
            {{vm.lastGame.player1.name}} ({{vm.lastGame.player1Score}}) 
            <span>{{vm.lastGame.player1.streak}}</span>
        </div>
        <div class="Season__last-game__player" ng-class="{'Season__last-game__player--winner': vm.lastGame.player2.streak > 0}">
            {{vm.lastGame.player2.name}} ({{vm.lastGame.player2Score}})
            <span>{{vm.lastGame.player2.streak}}</span>
        </div>

    </div>
</header>
