@import "vars";

.Season {
    padding: 2em;
    text-align: center;
    .clearfix;

    &__brand {
        height: auto;
        max-width: 100%;
        vertical-align: middle;

        // This is the __brand parent.. weird
        &-wrapper {
            width: 150px;
            margin: 0 auto;
            display: block;
            outline: none;
        }
    }

    &__league,
    &__points,
    &__games {
        text-transform: uppercase;

        small {
            font-size: 1.2rem;
            font-weight: 600;
            color: @text-gray;
            display: block;
        }
    }

    &__league {
        margin-top: 1.66rem;
        font: 600 2em/1.2 "proxima-nova";
    }

    &__points,
    &__games {
        margin-top: 1rem;
        display: inline-block;
        font: 600 4em/1.1 "proxima-nova";
    }

    &__points {
        padding-right: 2rem;
        position: relative;

        &::after {
            content: "";
            right: 0;
            bottom: 0;
            width: 2px;
            height: 85%;
            position: absolute;
            background-color: @border-color;
            border-radius: 1px;
        }
    }

    &__games {
        padding-left: 2rem;
    }
    &__last-game {
        display:none;
    }
    @media screen and (min-width: @screen-lg-min) {
       float:left;
        &__last-game {
            display:block;
            font: 600 2em/1.2 "proxima-nova";
            &__player {
                span {
                    display:none;
                }
                &--winner {
                    color:@bbcom-blue;
                    span {
                        display:inline-block;
                        background-color: @bbcom-blue;
                        color:@text-white;
                        font-weight:bold;
                        font-size:0.5em;
                        vertical-align: middle;
                        border-radius: 2em;
                        height: 2em;
                        width: 2em;
                        line-height: 2;
                    }
                }
            }
        }
    }
}
