@-webkit-viewport {
  width: device-width;
}
@-moz-viewport {
  width: device-width;
}
@-ms-viewport {
  width: device-width;
}
@-o-viewport {
  width: device-width;
}
@viewport {
  width: device-width;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
html,
body {
  margin: 0;
  padding: 0;
}
html {
  min-width: 320px;
  box-sizing: border-box;
  background-color: #1f1f1f;
}
body {
  color: #ffffff;
  font: 400 16px/1.42 "proxima-nova", "Helvetica Neue", Helvetica, "Open Sans", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  cursor: default;
}
input {
  color: #ffffff;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #444444;
}
button {
  border: 0;
  outline: none;
  color: #ffffff;
  background: #00aeef;
}
button[disabled] {
  background: #444444;
}


.LeaderBoard {
  width: auto;
  max-width: 1200px;
  margin: 0 auto;
}
.PlayerStats {
  padding: 1em;
  font: 800 24px/1.5 "proxima-nova";
  text-transform: uppercase;
}
.PlayerStats__rank,
.PlayerStats__name,
.PlayerStats__stats {
  border: 1px solid #2d2d2d;
}
.PlayerStats__rank {
  width: 1%;
  border-left: none;
}
.PlayerStats__name {
  width: 35%;
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.PlayerStats__stats {
  border-right: 0;
}
.PlayerStats td {
  padding: 1em;
}
.PlayerStats td small {
  font-size: 16px;
  font-weight: 600;
  color: #444444;
  display: block;
}
.PlayerStats td td {
  width: 1%;
  padding: 0 0.5em;
}
.PlayerStats td td:first-child {
  padding-left: 0;
}
.PlayerStats td td:last-child {
  padding-right: 0;
}
.PlayerStats td td small {
  font-size: 14px;
}

