@-webkit-viewport {
  width: device-width;
}
@-moz-viewport {
  width: device-width;
}
@-ms-viewport {
  width: device-width;
}
@-o-viewport {
  width: device-width;
}
@viewport {
  width: device-width;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
html,
body {
  margin: 0;
  padding: 0;
}
html {
  font-size: 100%;
  min-width: 320px;
  box-sizing: border-box;
  background-color: #1f1f1f;
  overflow-x: hidden;
}
body {
  color: #ffffff;
  font: 400 1em/1.5 "proxima-nova", "Helvetica Neue", Helvetica, "Open Sans", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  cursor: default;
}
table {
  width: 100%;
  max-width: 100%;
}
input {
  color: #ffffff;
  background: transparent;
  height: 40px;
  border: 0;
  border-left: 1px solid #444444;
  padding-left: 10px;
}
::-webkit-input-placeholder {
  color: #444444;
}
:-moz-placeholder {
  /* Firefox 18- */
  color: #444444;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: #444444;
}
:-ms-input-placeholder {
  color: #444444;
}
.logo {
  background-image: url('../logo.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 374px;
  height: 384px;
}
select {
  background: transparent;
  text-transform: uppercase;
  color: #ffffff;
  border: 0;
  border-radius: 0;
  outline: none;
  padding-right: 30px;
  background-image: url('../icon.png');
  background-size: contain;
  background-position: 100% 0;
  -webkit-appearance: none;
  background-repeat: no-repeat;
}
button {
  border: 0;
  outline: none;
  color: #ffffff;
  background: #00aeef;
  text-transform: uppercase;
  font-weight: bold;
  padding: 15px;
}
button[disabled] {
  background: #444444;
}
.btn--block {
  display: block;
  text-align: center;
  width: 100%;
  margin: 30px 0;
}
@media screen and (max-width: 767px) {
  html {
    font-size: 75%;
  }
}
.Season {
  padding: 2em;
  text-align: center;
}
.Season:before,
.Season:after {
  content: " ";
  display: table;
}
.Season:after {
  clear: both;
}
.Season__brand {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}
.Season__brand-wrapper {
  width: 150px;
  margin: 0 auto;
  display: block;
  outline: none;
}
.Season__league,
.Season__points,
.Season__games {
  text-transform: uppercase;
}
.Season__league small,
.Season__points small,
.Season__games small {
  font-size: 1.2rem;
  font-weight: 600;
  color: #444444;
  display: block;
}
.Season__league {
  margin-top: 1.66rem;
  font: 600 2em/1.2 "proxima-nova";
}
.Season__points,
.Season__games {
  margin-top: 1rem;
  display: inline-block;
  font: 600 4em/1.1 "proxima-nova";
}
.Season__points {
  padding-right: 2rem;
  position: relative;
}
.Season__points::after {
  content: "";
  right: 0;
  bottom: 0;
  width: 2px;
  height: 85%;
  position: absolute;
  background-color: #2d2d2d;
  border-radius: 1px;
}
.Season__games {
  padding-left: 2rem;
}
.Viewport {
  min-height: 0.01%;
  overflow-x: auto;
}

.NewGame {
  text-align: center;
}
.NewGame .logo {
  margin: 0 auto;
  height: 130px;
  width: 130px;
  margin-bottom: 10px;
}
.NewGame h1 {
  text-transform: uppercase;
  font-size: 1.2em;
  line-height: 1;
  color: #ffffff;
  margin: 0;
}
.NewGame h2 {
  text-transform: uppercase;
  font-size: 0.8em;
  line-height: 0.9;
  color: #444444;
  margin: 0;
}
.NewGame__form-row {
  border-top: 1px solid #444444;
  border-bottom: 1px solid #444444;
  margin: 10px 0;
}
.NewGame__form-row select {
  max-width: 45%;
}
.NewGame__form-row input {
  max-width: 45%;
}
.NewGame__separator {
  padding: 20px 0;
}
.NewGame__separator h1 {
  font-size: 4em;
}

.PlayerStats {
  padding: 1em;
  font: 800 1.5em/1.5 "proxima-nova";
  text-transform: uppercase;
}
.PlayerStats__rank,
.PlayerStats__name,
.PlayerStats__stat {
  padding: 1em;
  border: 1px solid #2d2d2d;
}
.PlayerStats__rank small,
.PlayerStats__name small,
.PlayerStats__stat small {
  font-size: 0.66em;
  font-weight: 600;
  color: #444444;
  display: block;
}
.PlayerStats__rank {
  width: 1%;
  border-left: none;
}
.PlayerStats__name {
  min-width: 38%;
  max-width: 140px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.PlayerStats__stat {
  border-width: 1px 0;
  padding-left: 0.375em;
  padding-right: 0.375em;
}
.PlayerStats__stat--first {
  padding-left: 1em;
}
.PlayerStats__stat--last {
  width: 1%;
  padding-right: 1em;
}

