<div class="NewGame">
	<h1>Enter Game</h1>
	<h2>{{game.currentSeason}}</h2>
	<form name="newGameForm">
		<div class="NewGame__form-row">
			<select ng-required="true" ng-model="game.player1Obj" ng-options="player.name disable when (player == game.newGame.player2) for player in game.players">
				<option value="">-- Choose Player 1 --</option>
			</select>
			<input ng-required="true" ng-model="game.newGame.player1Score" type="number" placeholder="Enter Score" />
		</div>
		<div class="NewGame__separator">
			<h1>VS</h1>
			<h2>{{game.currentSeason}}</h2>
		</div>
		<div class="NewGame__form-row">
			<select ng-required="true" ng-model="game.player2Obj" ng-options="player.name disable when (player == game.newGame.player1) for player in game.players">
				<option value="">-- Choose Player 2 --</option>
			</select>
			<input ng-required="true" ng-model="game.newGame.player2Score" type="number" placeholder="Enter Score" />
		</div>

		<button class="btn--block" ng-disabled="newGameForm.$invalid" ng-click="game.completeGame()">Complete Game</button>
	</form>
</div>
